In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn import metrics

In [2]:
df = pd.read_csv('train.csv', decimal=',')
df

,h_0,h_1,h_2,h_3,h_4,h_5,h_6,h_7,h_8,h_9,...,h_20,h_21,h_22,h_23,h_24,h_25,h_26,h_27,h_28,status
0,303.59,303.43,305.51,306.24,305.37,305.06,305.01,305.4,306.0,306.09,...,304.39,305.27,305.88,304.95,305.29,304.04,304.27,304.3,305.25,0.0
1,368.18,365.75,361.99,364.06,363.17,363.3,364.4,365.52,363.67,356.33,...,359.11,357.98,357.41,357.07,354.68,353.8,349.62,351.6,354.47,0.0
2,21.2989,21.3389,21.3376,21.2184,21.0715,21.0046,21.0328,21.0681,21.1238,21.013,...,21.1085,21.1412,21.127,21.026,21.08,21.0868,21.1969,21.0473,21.0621,0.0
3,16.7998,16.8058,16.7182,16.6321,16.6668,16.6284,16.6463,16.4354,16.473,16.3476,...,16.5478,16.5099,16.425,16.4874,16.4593,16.4595,16.4946,16.5199,16.5218,1.0
4,347.8,344.33,342.68,351.6,349.62,359.43,353.31,348.17,348.28,350.19,...,331.27,337.9,338.99,336.27,340.15,343.5,347.62,344.6,347.83,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25169,400.4,391.6,396.2,390.6,390.0,402.4,403.3,406.8,402.5,406.2,...,414.9,418.4,413.3,415.2,417.8,420.0,418.9,419.7,416.1,0.0
25170,266.4001,266.5216,264.202,263.389,260.2649,260.97,258.7779,254.9954,255.2105,258.5394,...,259.5864,261.1792,256.149,256.4059,254.8381,256.7242,255.1824,252.22,254.663,1.0
25171,16.5206,16.4068,16.4221,16.4275,16.3441,16.3951,16.4389,16.4525,16.5334,16.549,...,17.0366,16.9165,16.8923,16.9117,16.96,16.9845,17.0035,16.9944,16.8813,1.0
25172,491.2,490.0,490.4,490.5,489.4,486.3,488.6,489.3,490.3,485.9,...,489.4,490.2,489.2,488.4,488.9,491.3,492.1,491.3,490.1,1.0
25173,19.4764,19.3266,19.4183,19.1933,18.9341,18.9185,19.1732,19.1031,19.1889,19.3896,...,19.1118,18.9595,18.9267,18.7632,18.8728,19.0281,18.7322,18.7235,18.287,1.0

In [3]:
df.head()

,h_0,h_1,h_2,h_3,h_4,h_5,h_6,h_7,h_8,h_9,...,h_20,h_21,h_22,h_23,h_24,h_25,h_26,h_27,h_28,status
0,303.59,303.43,305.51,306.24,305.37,305.06,305.01,305.4,306.0,306.09,...,304.39,305.27,305.88,304.95,305.29,304.04,304.27,304.3,305.25,0.0
1,368.18,365.75,361.99,364.06,363.17,363.3,364.4,365.52,363.67,356.33,...,359.11,357.98,357.41,357.07,354.68,353.8,349.62,351.6,354.47,0.0
2,21.2989,21.3389,21.3376,21.2184,21.0715,21.0046,21.0328,21.0681,21.1238,21.013,...,21.1085,21.1412,21.127,21.026,21.08,21.0868,21.1969,21.0473,21.0621,0.0
3,16.7998,16.8058,16.7182,16.6321,16.6668,16.6284,16.6463,16.4354,16.473,16.3476,...,16.5478,16.5099,16.425,16.4874,16.4593,16.4595,16.4946,16.5199,16.5218,1.0
4,347.8,344.33,342.68,351.6,349.62,359.43,353.31,348.17,348.28,350.19,...,331.27,337.9,338.99,336.27,340.15,343.5,347.62,344.6,347.83,1.0

In [4]:
df.tail()

,h_0,h_1,h_2,h_3,h_4,h_5,h_6,h_7,h_8,h_9,...,h_20,h_21,h_22,h_23,h_24,h_25,h_26,h_27,h_28,status
25169,400.4,391.6,396.2,390.6,390.0,402.4,403.3,406.8,402.5,406.2,...,414.9,418.4,413.3,415.2,417.8,420.0,418.9,419.7,416.1,0.0
25170,266.4001,266.5216,264.202,263.389,260.2649,260.97,258.7779,254.9954,255.2105,258.5394,...,259.5864,261.1792,256.149,256.4059,254.8381,256.7242,255.1824,252.22,254.663,1.0
25171,16.5206,16.4068,16.4221,16.4275,16.3441,16.3951,16.4389,16.4525,16.5334,16.549,...,17.0366,16.9165,16.8923,16.9117,16.96,16.9845,17.0035,16.9944,16.8813,1.0
25172,491.2,490.0,490.4,490.5,489.4,486.3,488.6,489.3,490.3,485.9,...,489.4,490.2,489.2,488.4,488.9,491.3,492.1,491.3,490.1,1.0
25173,19.4764,19.3266,19.4183,19.1933,18.9341,18.9185,19.1732,19.1031,19.1889,19.3896,...,19.1118,18.9595,18.9267,18.7632,18.8728,19.0281,18.7322,18.7235,18.287,1.0

In [5]:
df.shape

(25174, 30)

In [6]:
batas = df.values.shape[0] * 8//10
x_train = df.values[ : batas, : -1]
y_train = df.values[ : batas, -1]
x_test = df.values[batas: , : -1]
y_test = df.values[batas: , -1]

In [7]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(20139, 29)
(20139,)
(5035, 29)
(5035,)

In [8]:
print(x_train)
print(y_train)

[['303.59' '303.43' '305.51' ... '304.27' '304.3' '305.25']
 ['368.18' '365.75' '361.99' ... '349.62' '351.6' '354.47']
 ['21.2989' '21.3389' '21.3376' ... '21.1969' '21.0473' '21.0621']
 ...
 ['28.5735' '28.5972' '28.6613' ... '28.3654' '28.413' '28.3371']
 ['272.396' '273.6812' '273.8546' ... '298.0439' '298.7084' '301.7201']
 ['30.943' '30.6653' '30.5939' ... '30.9384' '31.0204' '31.059']]
['0.0' '0.0' '0.0' ... '1.0' '1.0' '0.0']

In [9]:
from sklearn.naive_bayes import BernoulliNB
nb = BernoulliNB()
nb.fit(x_train, y_train)
y_pred = nb.predict(x_test)
y_pred

array(['1.0', '1.0', '1.0', ..., '1.0', '1.0', '1.0'], dtype='<U3')

In [10]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred, y_test)

0.517974180734856

In [11]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.00      0.00      0.00      2427
         1.0       0.52      1.00      0.68      2608

    accuracy                           0.52      5035
   macro avg       0.26      0.50      0.34      5035
weighted avg       0.27      0.52      0.35      5035

c:\Users\Lenovo\anaconda3\envs\python\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\Lenovo\anaconda3\envs\python\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\Lenovo\anaconda3\envs\python\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [12]:
from sklearn.naive_bayes import  MultinomialNB
mb =  MultinomialNB()
mb.fit(x_train, y_train)
y_pred = mb.predict(x_test)
y_pred

array(['1.0', '1.0', '1.0', ..., '1.0', '1.0', '1.0'], dtype='<U3')

In [13]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred, y_test)

0.5217477656405164

In [14]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.54      0.05      0.09      2427
         1.0       0.52      0.96      0.68      2608

    accuracy                           0.52      5035
   macro avg       0.53      0.51      0.38      5035
weighted avg       0.53      0.52      0.39      5035

In [15]:
from sklearn.naive_bayes import GaussianNB 
gb =   GaussianNB()
gb.fit(x_train, y_train)
y_pred = gb.predict(x_test)
y_pred

array(['1.0', '1.0', '1.0', ..., '1.0', '0.0', '1.0'], dtype='<U3')

In [16]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred, y_test)

0.5074478649453823

In [17]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.48      0.29      0.36      2427
         1.0       0.52      0.71      0.60      2608

    accuracy                           0.51      5035
   macro avg       0.50      0.50      0.48      5035
weighted avg       0.50      0.51      0.48      5035

In [18]:
from sklearn.ensemble import BaggingClassifier
bc = BaggingClassifier()
bc.fit(x_train, y_train)
y_pred = bc.predict(x_test)
y_pred

array(['0.0', '0.0', '0.0', ..., '0.0', '0.0', '0.0'], dtype=object)

In [20]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred, y_test)

0.5443892750744787

In [21]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.52      0.62      0.57      2427
         1.0       0.57      0.48      0.52      2608

    accuracy                           0.54      5035
   macro avg       0.55      0.55      0.54      5035
weighted avg       0.55      0.54      0.54      5035

In [22]:
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier()
knc.fit(x_train, y_train)
y_pred = knc.predict(x_test)
y_pred

array(['1.0', '0.0', '0.0', ..., '1.0', '1.0', '0.0'], dtype=object)

In [23]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred, y_test)

0.5507447864945383

In [24]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.53      0.53      0.53      2427
         1.0       0.57      0.57      0.57      2608

    accuracy                           0.55      5035
   macro avg       0.55      0.55      0.55      5035
weighted avg       0.55      0.55      0.55      5035

In [28]:
from sklearn.ensemble import ExtraTreesClassifier
etc = ExtraTreesClassifier()
etc.fit(x_train, y_train)
y_pred = etc.predict(x_test)
y_pred

array(['1.0', '0.0', '0.0', ..., '1.0', '0.0', '0.0'], dtype=object)

In [63]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred, y_test)

0.5860973187686197

In [64]:
from sklearn.tree import DecisionTreeClassifier
dtc = ExtraTreesClassifier()
dtc.fit(x_train, y_train)
y_pred = dtc.predict(x_test)
y_pred

array(['0.0', '0.0', '0.0', ..., '1.0', '0.0', '0.0'], dtype=object)

In [65]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred, y_test)

0.5924528301886792

In [66]:
from sklearn.ensemble import AdaBoostClassifier
abc = ExtraTreesClassifier()
abc.fit(x_train, y_train)
y_pred = abc.predict(x_test)
y_pred

array(['0.0', '0.0', '0.0', ..., '0.0', '0.0', '0.0'], dtype=object)

In [67]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred, y_test)

0.5803376365441907

In [34]:
from sklearn.ensemble import GradientBoostingClassifier
gbc = ExtraTreesClassifier()
gbc.fit(x_train, y_train)
y_pred = gbc.predict(x_test)
y_pred

array(['0.0', '0.0', '0.0', ..., '1.0', '0.0', '0.0'], dtype=object)

In [29]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred, y_test)

0.5928500496524329

In [31]:
data_soal = pd.read_csv('uts_test.csv')
data_soal

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15
0,0.727946,0.686626,0.024216,0.100513,0.147902,0.665157,0.886578,0.260210,0.913536,0.429281,0.386306,0.429745,0.343021,0.864288,0.697452
1,0.941029,0.754802,0.366608,0.740890,0.974596,0.915350,0.577117,0.735366,0.391742,0.174149,0.223679,0.258010,0.128411,0.811576,0.333199
2,0.916348,0.358660,0.739682,0.856455,0.664050,0.205057,0.813556,0.600975,0.198260,0.533929,0.773737,0.834379,0.099397,0.776432,0.587298
3,0.058222,0.547183,0.955704,0.359720,0.681179,0.896836,0.662055,0.219236,0.031028,0.697847,0.958580,0.961401,0.129365,0.772417,0.511966
4,0.557648,0.624826,0.745052,0.436090,0.534891,0.780279,0.547347,0.268654,0.038584,0.262723,0.077940,0.356210,0.843640,0.891141,0.792945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.785373,0.402691,0.782925,0.212998,0.849573,0.152539,0.584820,0.895400,0.841433,0.107842,0.926987,0.174971,0.030061,0.171174,0.877303
96,0.253140,0.856330,0.576776,0.539771,0.356354,0.066467,0.253582,0.798379,0.613772,0.256492,0.296097,0.764711,0.711950,0.580367,0.127960
97,0.061796,0.670261,0.743501,0.399264,0.476149,0.493616,0.328327,0.794168,0.154664,0.087956,0.924150,0.879006,0.459027,0.506192,0.422560
98,0.538544,0.382744,0.202415,0.391646,0.684107,0.751968,0.606409,0.510221,0.678481,0.479012,0.894654,0.350216,0.469488,0.411628,0.110323
99,0.078016,0.926224,0.498698,0.786601,0.838572,0.060745,0.977161,0.314042,0.065172,0.814158,0.942060,0.390386,0.251813,0.383510,0.378478

In [32]:
data_tes = data_soal.values

In [36]:
prediksi = knc.predict(data_tes)
prediksi

ValueError: X has 15 features, but KNeighborsClassifier is expecting 29 features as input.

In [73]:
jawaban = pd.DataFrame({"Status" : prediksi.ravel()})
jawaban.to_csv("20102007.csv", index=False)

In [74]:
val = input("Enter your value: ")
print(val)

In [75]:
name = input('What is your name?\n')     # \n ---> newline  ---> It causes a line break
print(name)